{% extends 'base.html.twig' %}

{% block title %}Quest index{% endblock %}

{% block extraStyle %}
    {{ parent() }}
{% endblock %}

{% block body %}



    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="p-4 mb-2 text-white font-bold bg-{{ label == 'success' ? 'green' : 'red' }}-500">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <article class="p-5">
        <h1 class="text-[5rem]">Quêtes archivées</h1>
        <div>

        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 p-20">
            {% for quest in quests %}
                <div class="border border-yellow-500 flex flex-col gap-y-4 p-4 bg-[#1A1A1A] text-white shadow-md">
                    <div class="flex justify-between">
                        <h2 class="font-bold text-[2rem] text-yellow-500">
                            {{ quest.name }}
                        </h2>

                                <h2>{{ quest.status.label }}</h2>

                            </div>

                            <h3 class="flex-grow">
                                {{ quest.infoQuest }}
                            </h3>

                            <div class="flex justify-between">
                                <div>
                                    <h3>
                                        Places : {{ quest.nbMaxInscription }} |
                                        Durée : {{ quest.duration }}h
                                    </h3>
                                </div>
                                <div>
                                    {{ quest.promoter.username }}
                                </div>
                            </div>

                            <hr class="border-yellow-500/30">

                            <div class="text-sm">
                                Début : {{ quest.startDateTime ? quest.startDateTime|date('Y-m-d H:i') : 'N/A' }}<br>
                                Fin Inscription
                                : {{ quest.inscriptionLimitDate ? quest.inscriptionLimitDate|date('Y-m-d H:i') : 'N/A' }}
                            </div>

                            <div class="mt-2 flex gap-4">
                                <a href="{{ path('quest_show', {'id': quest.id}) }}"
                                   class="text-yellow-600 hover:underline">Voir</a>



                        {% if quest.status.label not in ['Cloturée', 'Annulée', 'Passée'] %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('quest_edit', {'id': quest.id}) }}"
                                   class="text-yellow-600 hover:underline">Modifier</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p class="col-span-full text-center text-xl">Aucune quête trouvée sur le tableau.</p>
            {% endfor %}

                    </div>

        <div class=" relative flex text-white items-center h-auto p-5">
            {% if app.user %}
                <div class="flex items-center gap-4">
                    <img src="{{ asset('assets/images/profilePicture/' ~ app.user.profilePicture) }}"
                         class="border border-yellow-500"
                         style="width:120px;"
                         alt="{{ app.user.username }}">
                    <p>{{ app.user.username }}</p>

                    <div>
                        <a href="{{ path('quest_create') }}"
                           class="border border-yellow-500 btn text-yellow-500 p-1 font-(Pixelify Sans) text-center justify-center items-center">Créer
                            une nouvelle quête</a>
                    </div>


                </div>
            {% endif %}

            <div class="ml-auto">
                <p>{{ "now"|date("d/m/Y") }}</p>
            </div>

        </div>
    </article>
{% endblock %}
