{% extends 'base.html.twig' %}
{% block title %}Detail de la sortie{% endblock %}
{% block extraStyle %}{{ parent() }}{% endblock %}
{% block body %}    <div class="p-5 mr-10">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="p-4 mb-2 text-white font-bold bg-{{ label == 'success' ? 'green' : 'red' }}-500">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    <article class="text-white ">
        <h1 class="text-[3rem]  text-amber-500">Details de la sortie</h1>
        {#<div class="text-white" >--------------------------------------------------------------</div>#}

        <h2 class="text-[5rem]  ml-35 text-white">{{ quest.name }} <span class="text-[2rem]">- {{ quest.status.label }}</span></h2>
        <div class="flex-col ml-35">
            <div class="flex gap-4">
                <div class="justify-center align-center items-center">
                    <div class="border border-yellow-500 overflow-hidden " style="width:400px; aspect-ratio:1/1;">
                        <div class="">
                            <img class="w-full h-full object-cover object-top" style="width:300px"
                                 src="{{ asset('assets/images/pictureQuest/' ~ quest.picture) }}" alt="">
                        </div>
                    </div>
                    <div class="mt-5 gap-4 ">
                        <a class="border border-yellow-500 text-white p-2 bg-[#1A1A1A]" href="{{ path('quest_index') }}">Retour à la liste</a>
                        {% if is_granted('QUEST_EDIT', quest) %}
                            <a class="border border-yellow-500 text-white p-2 bg-[#1A1A1A]"
                               href="{{ path('quest_edit', {'id': quest.id}) }}" >Modifier</a>
                        {% endif %}
                        {% if is_granted('QUEST_CANCEL', quest) %}
                            <a class="border border-yellow-500 text-white p-2 bg-[#1A1A1A]"
                               href="{{ path('quest_annuler', {'id': quest.id}) }}">Annuler</a>
                        {% endif %}
                    </div>
                </div>
                <div class=" text- white ">
                    <div class="mb-2">Campus : {{ quest.campus.name }} </div>
                    <div class="mb-2">Lieu : {{ quest.place.name }}</div>
                    <div class="mb-2">Date de début : {{ quest.startDateTime ? quest.startDateTime|date('Y-m-d H:i:s') : '' }}</div>
                    <div class="mb-2">Durée : {{ quest.duration }} minutes</div>
                    <div class="mb-2">Date limite d'inscription
                        : {{ quest.inscriptionLimitDate ? quest.inscriptionLimitDate|date('Y-m-d H:i:s') : '' }}</div>
                    <div class="mb-2">Description :
                        {{ quest.infoQuest }}</div>
                </div>
                <div class="mt-10 ml-10 place-content-end justify-center ">
                    <div>Places disponibles : <strong>{{ quest.nbMaxInscription - quest.users | length }}</strong> </div>
                    <div class="mt-2">
                        {% if is_granted('QUEST_UNREGISTER', quest) %}
                            <a class="border border-yellow-500 p-2 bg-[#1A1A1A]"
                               href="{{ path('quest_desister', {'id': quest.id}) }}">se désister</a>
                        {% elseif is_granted('QUEST_REGISTER', quest) %}
                            <a class="border border-yellow-500 bg-[#1A1A1A]"
                               href="{{ path('quest_inscription', {'id': quest.id}) }}">Inscription</a>
                        {% endif %} </div>
                </div>
            </div>
            <div class="block relative flex items-center justify-center bg-no-repeat bg-cover bg-center align-center">
                <div class=" text-center mt-10">
                    <h4 class="text-[2rem]  text-amber-500">Liste des participants inscrits: </h4> {# {{ quest.users | length }}#}
                    <div class="relative flex items-center justify-center bg-no-repeat bg-cover bg-center align-center text-black"
                         style="width: 720px; min-height: 700px; background-image: url('{{ asset('images/parchemin.png') }}');">
                        <table class="place-items-startt border-spacing-3 text-taupe-950  w-1/3 gap-[3px] p-3 ">
                            <thead>
                            <tr class=" ">
                                <th class="">Titre de quêteur</th>
                                <th>Prenom</th>
                            </tr>
                            </thead>
                            <tbody class=""> {% for user in quest.users %} <tr>
                                <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a> </td>
                                <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.firstname }}</a> {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </article>
    </div>
{% endblock %}
