{% extends 'base.html.twig' %}

{% block title %}Detail de la sortie{% endblock %}
{% block extraStyle %}
{{ parent() }}
{% endblock %}

{% block body %}
    <article class="p-5 mr-10">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="p-4 mb-2 text-white font-bold bg-{{ label == 'success' ? 'green' : 'red' }}-500">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h1 class="text-[3rem]  text-amber-500">Details de la sortie</h1>
        <h2 class="text-[5rem]  ">{{ quest.name }}</h2>
        <div class="flex gap-4">

            <div>
                <img class="border border-yellow-500" style="width:300px"
                     src="{{ asset('assets/images/pictureQuest/' ~ quest.picture) }}" alt="">
            </div>

            <div class=" text-white">
                <div>Date de début : {{ quest.startDateTime ? quest.startDateTime|date('Y-m-d H:i:s') : '' }}</div>
                <div>Durée : {{ quest.duration }} minutes</div>
                <div>Date limite d'inscription
                    : {{ quest.inscriptionLimitDate ? quest.inscriptionLimitDate|date('Y-m-d H:i:s') : '' }}</div>
                <div>Nombre d'inscription maximum : {{ quest.nbMaxInscription }}</div>
                <div>Nombre places restantes : {{ quest.nbMaxInscription - quest.users | length }}  </div>
                <div>{{ quest.users | length }}</div>
                <div>Description : <br>{{ quest.infoQuest }}</div>
            </div>

            <div>Liste des participants inscrits: {{ quest.users | length }}
                {% for user in quest.users %}
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a>
                {% endfor %}
            </div>
            <div class="text-white">

                {% if is_granted('QUEST_UNREGISTER', quest) %}
                    <a href="{{ path('quest_desister', {'id': quest.id}) }}">se désister</a>
                {% elseif is_granted('QUEST_REGISTER', quest) %}
                    <a href="{{ path('quest_inscription', {'id': quest.id}) }}">Inscription</a>
                {% endif %}


                <a href="{{ path('quest_index') }}">back to list</a>

                {% if is_granted('QUEST_EDIT', quest) %}
                    <a href="{{ path('quest_edit', {'id': quest.id}) }}" >Modifier</a>
                {% endif %}

                {% if is_granted('QUEST_CANCEL', quest) %}
                    <a href="{{ path('quest_annuler', {'id': quest.id}) }}">Annuler</a>
                {% endif %}
            </div>
        </div>

    </article>
{% endblock %}
