{% extends 'base.html.twig' %}



{% block title %}Log in!{% endblock %}



{% block extraStyle %}

    <style>

        body {

            background-image: url("{{ asset('images/Image.png') }}");
            background-size: cover;
            background-color: gray;
            background-blend-mode: luminosity;
        }

    </style>

{% endblock %}

{% block body %}



    <div class="flex justify-center items-center min-h-screen">
        <div class=" relative  justify-center bg-no-repeat bg-cover bg-center"
             style="width: 720px; min-height: 500px; background-image: url('{{ asset('images/utilisateur.png') }}');">

            <div><h1 class="text-[4rem]  mt-15 font-weight-normal text-white text-center ">Portail d’accès</h1></div>

            <div class="absolute inset-0 flex items-center justify-center">

                <form method="post" class="w-[80%] ml-25 space-y-4">

                    {% if error %}
                        <div
                            class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

                    {% endif %}

                    {% if app.user %}

                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                        </div>

                    {% endif %}

                    <div class="flex flex-col mt-10 pr-20">
                        <div><label for="inputEmail" class= "text-white">Email ou Pseudo</label></div>
                            <input type="text" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="bg-gray-100 rounded-full p-3 py-2 w-full focus:outline-none   "
                                   autocomplete="email" required autofocus>
                    </div>


                    <div class="pr-20">
                        <div><label for="inputPassword" class=" text-white ">Rune secrete</label></div>
                        <input type="password" name="password" id="inputPassword"
                               class="bg-gray-100 rounded-full  p-3 py-2 w-full focus:outline-none focus:bg-gray-100"
                               autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                               value="{{ csrf_token('authenticate') }}">
                    </div>


                    <div class="mt-3 text-white">
                        <label class="flex items-center gap-2">
                            Rester connecté à la guilde
                            <input type="checkbox" name="_remember_me" class="accent-yellow-500 rounded-full w-8 h-8 ml-8">
                        </label>
                    </div>


                    <div class="mr-5 mt-5">
                        <button class="btn btn-lg btn-primary    text-white" type="submit"> Franchir les portes </button>
                    </div>


                </form>




            </div>



        </div>


    </div>



{% endblock %}
