{% extends 'base.html.twig' %}



{% block title %}Log in!{% endblock %}



{% block extraStyle %}

    <style>

        body {

            background-image: url("{{ asset('images/Image.png') }}");
            background-size: cover;
            background-color: gray;
            background-blend-mode: luminosity;
        }

    </style>

{% endblock %}

{% block body %}

    <h1 class="text-[4rem] mb-3 font-weight-normal text-amber-500 text-center">Portail d’accès</h1>


    <div class="flex justify-center items-center min-h-screen">
        <div class="relative flex items-center justify-center bg-no-repeat bg-cover bg-center"
             style="width: 720px; min-height: 500px; background-image: url('{{ asset('images/utilisateur.png') }}');">
            <div class="absolute inset-0 flex items-center justify-center">

                <form method="post" class="w-[80%]">



                    {% if error %}

                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

                    {% endif %}



                    {% if app.user %}

                        <div class="mb-3">

                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>

                        </div>

                    {% endif %}


                    <div class="flex justify-feft">
                        <label for="inputEmail">Email ou Pseudo</label>
                        <input type="text" value="{{ last_username }}" name="email" id="inputEmail"
                               class="bg-gray-100"
                               autocomplete="email" required autofocus>
                    </div>



                    <div class="mt-2 flex justify-letf ">
                        <label for="inputPassword" class="text-mist-50">Rune secrete</label>
                        <input type="password" name="password" id="inputPassword"
                               class="bg-gray-100"
                               autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                               value="{{ csrf_token('authenticate') }}">
                    </div>


                    <div class=" flex justify-left checkbox mb-3 ">

                        <label class="mt-2">

                            <input type="checkbox" name="_remember_me" class="text-mist-50  font-bold text-xl "> Rester connecté à la guilde
                        </label>

                    </div>


                    <div>

                        <button class="btn btn-lg btn-primary  justify-end  text-white" type="submit">

                            Franchir les portes

                        </button>

                    </div>

                </form>



            </div>

        </div>



    </div>

{% endblock %}
