<nav class="items-center px-4 text-white h-16
    {% if is_granted('ROLE_ADMIN') %}
   grid grid-cols-[1fr_auto_1fr]
{% else %}
flex justify-between
    {% endif %}
    ">
    <div class="flex justify-start">
        <h5 class="font-bold">Quest.ENI</h5>
    </div>

    <div class="flex justify-center items-center gap-x-6">
        <a href="{{ path('quest_index') }}" class="hover:text-yellow-500 transition">Quêtes</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_index') }}" class="hover:text-yellow-500 transition">Aventuriers</a>
            <a href="{{ path('user_create') }}" class="hover:text-yellow-500 transition">Créer un aventurier</a>
{#            <a href="{{ path('quest_archive') }}" class="hover:text-yellow-500 transition">Quêtes archivées</a>#}
        {% endif %}

        <a href="{{ path('main_home') }}" class="text-[1.5rem] font-bold text-yellow-500">Place du Village</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('quest_archive') }}" class="hover:text-yellow-500 transition">Quêtes archivées</a>
        {% endif %}
        <a href="{{ path('quest_create') }}" class="hover:text-yellow-500 transition">Créer une quête</a>

        {% if app.user %}
            <a href="{{ path('user_profile') }}" class="hover:text-yellow-500 transition">Mon blason</a>
        {% endif %}

    </div>

    <div class="flex justify-end">
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="hover:underline text-gray-300">Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="hover:text-yellow-500 transition">Se connecter</a>
        {% endif %}
    </div>
</nav>

<div class="border-b-2 border-yellow-600"></div>
