<div class="flex justify-between text-white p-5">
    <div>
        <h1>Quest.ENI</h1>
    </div>
    <div>
        <a class="m-2" href="{{ path('main_home') }}">Home</a>
        <a class="m-2" href="{{ path('user_create') }}">add User</a>
        <a class="m-2" href="{{ path('user_index') }}">display user</a>
        <a class="m-2" href="{{ path('quest_index') }}">display quests</a>
        {% if app.user %}
            <a class="m-2" href="{{ path('app_logout') }}">logout</a>
        {% else %}
            <a class="m-2" href="{{ path('app_login') }}">login</a>
        {% endif %}

    </div>
    <div>
    </div>
</div>
<div class="border-1 border-white"></div>
