<footer class="fixed bottom-0 left-0 w-full bg-[#1A1A1A] border-t border-yellow-500/30 z-50">
    <div class="flex items-center justify-between p-4 gap-x-4 text-white">
        <div class="flex gap-5">

        {% if app.user %}
            <div class="flex-shrink-0">
                <img src="{{ asset('/images/profilePicture/' ~ app.user.profilePicture) }}"
                     class="border border-yellow-500"
                     style="width:120px;"
                     alt="{{ app.user.username }}">
            </div>
            <div class="font-abeezee">
                <h3 class="text-sm text-gray-400">Connecté en tant que :</h3>
                <p class="font-bold text-yellow-500">{{ app.user.username }}</p>
            </div>
            <div class="flex flex-col gap-2">
                <div class="flex justify-between text-xs text-amber-500 font-bold">
                    <span>NIVEAU {{ exp_service.calculateLevel(app.user.experience) }}</span>
                    <span>{{ app.user.experience }} XP</span>
                </div>

                <div class="w-48 bg-gray-800 rounded-full h-2.5 border border-gray-700 overflow-hidden">
                    <div class="bg-gradient-to-r from-yellow-600 to-yellow-300 h-full transition-all"
                         style="width: {{ exp_service.calculatePercentage(app.user.experience) }}%">
                    </div>
                </div>
            </div>   {% else %}
            <div class="font-abeezee">
                <a href="{{ path('app_login') }}" class="text-yellow-500 hover:underline">Connexion requise pour voir votre profil</a>
            </div>
        {% endif %}
        </div>
        <div>
            <div class="ml-auto">    <p>{{ "now"|date("d/m/Y") }}</p></div>

        </div>
    </div>

</footer>
