{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
            </tr>
{#            <tr>#}
{#                <th>Role</th>#}
{#                <td>{{ user.roles }}</td>#}
{#            </tr>#}
            <tr>
                <th>ProfilePicture</th>
                <img src="{{ asset('assets/images/profilePicture/' ~ user.profilePicture) }}" alt="">
            </tr>
            <tr>
                <th>Les quetes créee par le user</th>
                {% for quest in user.quest %}
                    <div>
                        quesst : {{ quest.name }}
                    </div>

                {% endfor %}

            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

        {{ include('user/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
